.write__title {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.write__prompt {
  color: #fcbf1e;
}

.write__text {
  display: flex;
  flex-direction: column;
}

.write__text__column {
  padding: 20px 0;
  font-size: 30px;
}

.write__text__column input {
  font-size: 30px;
  padding: 10px;
  border: none;
  background: transparent;
  border-bottom: white 1px solid;
  outline: none;
  color: white;
  font-weight: 300;
}
